
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #F8F9FA;
            color: #343A40;
            margin: 0px 300px;
            
        }

        textarea,
        input[type="file"],
        select,
        button {
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
            /* border: 1px solid #CED4DA;/ */
            /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); */
        }

        textarea:disabled,
        input[type="file"]:disabled {
            background-color: #E9ECEF;
        }

        button {
            background-color: #61D2E4;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #4EB4C8;
        }

        .formatted-output {
            background-color: #FFF3CD;
            padding: 10px;
            border: 1px solid #FFB800;
            border-radius: 5px;
            margin-bottom: 20px;
            white-space: pre-wrap;
            max-height: 500px;
            overflow-y: scroll;
        }

        .select-file {
            display: block;
            max-width: 15rem;
        }

        .select-file::file-selector-button {
            background-color: #ffcc33;
            color: #000;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
        }

        .file-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .file-info label {
            margin-right: 10px;
            flex-grow: 1;
        }

        .file-info button {
            background-color: #FF6B6B;
            color: #fff;
            width: 100px;
        }

        .file-info button:hover {
            background-color: #FF4949;
        }

        #sendbutton:hover{
            background-color: #4EB4C8;
        }
  